@import '~@angular/material/theming';

.container {
  height: calc(100% - 70px);
}

.spacer {
  flex: 1 1 auto;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.router-active {
  background-color: #0c62fb;
  color: white;
}
